// uni-app 主题变量
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

$uni-color-bg: #f8f8f8;
$uni-color-bg-grey: #f8f8f8;
$uni-color-bg-mask: rgba(0, 0, 0, 0.4);

$uni-text-color: #333333;
$uni-text-color-inverse: #ffffff;
$uni-text-color-grey: #999999;
$uni-text-color-placeholder: #808080;
$uni-text-color-disable: #c0c0c0;

$uni-border-color: #c8c7cc;
